<style>
    :host {
        height: 40px;
    }

    div {
        float: left;
        vertical-align: middle;
        text-align: left;
    }
</style>
<div>
    <a href="https://www.amazon.com/QCObjects-CE-2020-Reference-Complete/dp/B08L3ZWJ13">
        <img alt="Buy QCObjects Book" height="100px"
            src="img/bookcover-qcobjects-ce-amazon.png" /></a>
</div>
<div>
    <p>Buy The Complete <br />Reference Guide Book <a
            href="https://www.amazon.com/QCObjects-CE-2020-Reference-Complete/dp/B08L3ZWJ13">here</a></p>
</div>
<div>
    <octocat-icon data-position="absolute" data-color="black" data-bgcolor="white" data-label="GitHub"
        data-url="https://github.com/QuickCorp/QCObjects"></octocat-icon>
</div>